body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
 
}


.H2 {
  font-size: 40px;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}
.ptag {
  color: rgb(255, 255, 255);
}

.btn{
  font-size: 17px;
  border-radius: 25px;
  padding : 15px 40px;
  transition: transform 3.4s ease;
  display: inline-block;
  border: none;
  
}


.btn:hover{
    background-color: #3e5032; 
    color: whitesmoke;
    box-shadow:inset 0px 8px 10px black;
    scale: 1.1;
} 


.header {
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color:transparent  ;
  
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  padding-left: 30px;
  width: 98%;

  animation: fade-in 1s ease;
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(500px);
  }
  to {
    opacity: 1;
  }
}

.Heading {
  color: #ffffff;
  margin-left: 20%;
  cursor: pointer;
}

.nav__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding-top: 16px;
  gap: 40px;
  
}
.nav_link {
  font-weight: 500;
  text-decoration: none;
  font-size: 18px;
  color: rgb(255, 255, 255);
  transition: transform 0.3s ease;
  display: inline-block;
}
.nav_link:hover {
  transform: scale(1.2);
  color: rgb(255, 247, 247);
  box-shadow: 5px rgba(0, 0, 0, 0.2);
}

.acc {
  /* background-color: rgb(18, 18, 18); */
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-left: 550px;
  margin-top: 16px;
  margin-bottom: 15px;
  cursor: pointer;
}

.hero-section {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.intro {
  font-size: 20px;
  color: rgb(255, 255, 255);
  position: absolute;
  justify-content: center;
  text-align: center;
  margin-left: 360px;
  margin-bottom: 200px;
  bottom: 100px;
  z-index: 100;
  animation: fade-in 1s;
}

.content {
  display: flex;
  /* padding: 20px 80px; */
  gap: 60px;
  /* width: 100%; */
  padding-left: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: white;
  margin-top: -4px;
  padding: 20px;
  background-color: #f4f4f4;
}

.contact-section {
  display: flex;
  background-color: #50635d;
  padding: 150px;
  padding-left: 340px;
}
.contact-container {
  border: 1px solid #2e3a47;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.contact-image {
  width: 400px;
  height: 500px;
  border-radius: 10px 0 0 10px;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.card {
  flex: 1 1 calc(33.333% - 20px);
  min-width: 250px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
  display: inline-block;
  margin-bottom: 80px;
  padding-bottom: 10px;
}

.card-content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card:hover {
  transform: scale(1.05);
}

.card-img {
  width: 100%;
  margin-bottom: 10px;
  height: 350px;
}
.card-title {
  margin: 10px 0;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
  color: rgb(0, 0, 0);
}

.card-description {
  margin: 0 20px 20px 20px;
  width: 400px;
  font-size: 0.9em;
  color: #555;
  padding-right: 40px;
}
.services-heading {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  animation: pulse 1.5s ;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.about-image {
  width: 50%;
  height: auto;
  border-radius: 20px;
  transition: transform 0.3s ease;
  display: inline-block;
}
.about-image:hover {
  transform: scale(1.05);
}

.form {
  background-image: linear-gradient(to bottom, black, rgb(104, 14, 169));
  display: flex;
  flex-direction: column;
  max-width: 500px;
  border: 1px solid #ccc;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 0 10px 10px 0;
  padding: 50px;
  background-color: #000000;
  color: white;
  /* z-index: -1; */
}

#username,
#email,
#password {
  padding: 10px;
  margin-bottom: 25px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.submit-button {
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 150px;
  margin-left: 175px;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #2e3a47;
  color: white;
  margin-top: -20px;
}

.calbox{
  
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  border: 1px solid black;
  box-shadow: 0 10px 10px black;
  background-image: linear-gradient(to bottom, black, rgb(104, 14, 169));
  
}
#num1{
  
  padding: 14px;
  margin-bottom: 30px;
  border-radius: 10px;
}

#num2{
  padding: 14px;
  margin-bottom: 30px;
  border-radius: 10px;

}

#result{
  font-size: 30px;
  color: rgb(255, 255, 255);
}


.button{
  
  border: 1px solid black;
  width: 100px;
  border-radius: 10px;
  padding-top : 16px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 14px;
 
}

.flex{

  display: flex;
  width:200px;
}

.button1{
 border: 1px solid black;
  width: 100px;
  border-radius: 10px;
  padding: 12px 16px;
  margin-left: 14px;
  margin-top: 10px;
  margin-bottom: 16px;
}

