.header1 {
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #4f6058;

  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  padding-left: 30px;
  width: 98%;

  animation: fade-in 1s ease;
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(500px);
  }
  to {
    opacity: 1;
  }
}

.Heading1 {
  color: #ffffff;
  margin-left: 20%;
  cursor: pointer;
}

.nav__list1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding-top: 16px;
  gap: 40px;
}
.nav_link1 {
  font-weight: 500;
  text-decoration: none;
  font-size: 18px;
  color: rgb(255, 255, 255);
  transition: transform 0.3s ease;
  display: inline-block;
}
.nav_link:hover {
  transform: scale(1.2);
  color: rgb(255, 247, 247);
  box-shadow: 5px rgba(0, 0, 0, 0.2);
}

.acc1 {
  /* background-color: rgb(18, 18, 18); */
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-left: 550px;
  margin-top: 16px;
  margin-bottom: 15px;
  cursor: pointer;
}

.calbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  border: 1px solid black;
  box-shadow: 0 10px 10px black;
  background-image: linear-gradient(to top, #6c764146, #4f6058);
  /* background-color: ; */
}

.p {
  color: white;
  margin-bottom: 1px;
}


#result {
  font-size: 30px;
  color: rgb(255, 255, 255);
}

.button {
  box-shadow: inset 1px 1px 5px rgb(255, 255, 255);
  border: 1px solid black;
  width: 100px;
  border-radius: 10px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 14px;
  transition: transform 0.3s ease;
  font-size: 30px;
}
.button:hover {
  transform: scale(1.1);
  background-color: #425432;
  color: aliceblue;
}

.flex {
  display: flex;
  width: 200px;
}

.button1 {
  border: 1px solid black;
  width: 100px;
  border-radius: 10px;
  padding: 12px 16px;
  margin-left: 14px;
  margin-top: 10px;
  margin-bottom: 16px;
}


  
@media (max-width: 768px) {
  .header1 {
    padding-left: 14px;

    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }

  .Heading1 {
    margin-left:80px;
    order: 1;
    width: auto;
  }
  .fa-bars{
        color: rgb(255, 255, 255);
        order: 1;
        margin: 10px auto;

  }


  .nav__list1 {
    
      display: none;
      flex-direction: column;
      gap: 0;
      padding: 0.5rem 0;
      
    
  }
  .nav__list1 li {
      width: 100%;
      
    }

  .acc1 {
     margin-left: 5px;
    }


  .calbox {
    max-width: 380px;
    margin: 18px auto;
    padding: 16px;
    height: auto;
    border-radius: 8px;
  }

  
  .button,
  .button1 {
    padding: 10px 12px;
    margin-left: 4px;
    min-width:    50px;
  }
  .num1 {
    width: 300px !important; 
  }
  .flex {
    gap: 6px;
  }
}
