body{
     background-image: linear-gradient(to bottom, black, rgb(83, 12, 133));
}
.calbox{
  
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  border: 1px solid black;
  box-shadow: 0 10px 10px black;
  background-image: linear-gradient(to bottom, black, rgb(104, 14, 169));
  
}

.p{
    color: white;
    margin-bottom: 1px;
}
#num1{
     box-shadow: inset 1px 1px 5px purple;
     border: 1px solid blueviolet;
  padding: 14px;
  margin-bottom: 30px;
  border-radius: 10px;
}

#num2{
    box-shadow: inset 1px 1px 5px purple;
   border: 1px solid blueviolet;
  padding: 14px;
  margin-bottom: 30px;
  border-radius: 10px;

}

#result{
  font-size: 30px;
  color: rgb(255, 255, 255);
}


.button{
   box-shadow: inset 1px 1px 5px purple;
  border: 1px solid black;
  width: 100px;
  border-radius: 10px;
  padding-top : 16px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 14px;
 
}

.flex{

  display: flex;
  width:200px;
}

.button1{
 border: 1px solid black;
  width: 100px;
  border-radius: 10px;
  padding: 12px 16px;
  margin-left: 14px;
  margin-top: 10px;
  margin-bottom: 16px;
}

